@import "./null.css";
body {
  overflow-x: hidden;
}
ul li a {
  color: white;
}
h3 {
  color: white;
  font-size: 22px;
  font-weight: 700;
}
h1 {
  font-weight: bold;
  font-size: 48px;
  color: white;
  line-height: 65px;
}
header {
  background-image: url(../img/back.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
nav ul li {
  font-size: 16px;
}
.header__p {
  color: white;
}
nav {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 2.5% 6%;
}
nav ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.login__btn {
  width: 117px;
  height: 40px;
  background-color: #1bc768;
  border-radius: 20px;
  margin-top: -10px;
  color: white;
  font-size: 17px;
margin-bottom: 1px;
}
.header__content {
  padding: 2% 6%;
  max-width: 60%;
}
.header__p {
  padding: 5% 0;
}
.link__btn {
  color: white;
  width: 110px;
  height: 42px;
  background: none;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 17px;
}
.link__btn:hover {
  transition: 0.7s;
  color: blue;
  background-color: white;
}

header form {
  padding-top: 6%;
  display: flex;
  margin-left: -2.7%;
}
form input {
  width: 280px;
  height: 50px;
}
header input {
  background-color: #dee9ff;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 114px;
  padding-left: 49px;
  color: #7a7a7a;
  width: 361px;
  font-size: 16px;
}
form img {
  transform: translate(40px, 3px);
  width: 17px;
  height: 17px;
  margin-top: 2%;
}
.inp-btn {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 16px;
  width: 110px;
  background-color: #1bc768;
  color: white;
}
.company {
  text-align: center;
  margin: 0 auto;
  max-width: 60%;
  margin-top: 3%;
}
h2 {
  color: #043caa;
  font-size: 28px;
  font-weight: bold;
  margin: 3% 0;
}
.company__logo {
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
}
.man_png{
  background-image: url(../img/man.png);
  width: 30%;
  height: 80%;
  float: right;
  margin-top: -28%;
  margin-right: 11%;
}

/* main */
h5 {
  font-size: 24px;
  color: #043caa;
  font-weight: 800;
  max-width: 70%;
}
h4 {
  font-size: 36px;
  color: #043caa;
  font-weight: bold;
}
main {
  margin: 6% auto;
}
.key_h4 {
  margin: 6% auto;
  text-align: center;
  margin-top: 13%;
}
.key_h4 img {
  padding-top: 1%;
}

.get-btn {
  background-color: white;
  border: 2px solid #1bc768;
  border-radius: 20px;
  color: #1bc768;
  width: 220px;
  font-size: 1.1em;
  height: 45px;
  margin-top: 2%;
}
/* card */
.card {
  padding-top: 8%;
  display: flex;
  justify-content: space-around;
}
.card-description ul li {
  padding: 6% 0;
  display: flex;
}
.li-img {
  width: 13px;
  height: 15px;
  margin-right: 4%;
}

h6 {
  font-size: 36px;
  font-weight: bold;
}

.chemists {
  display: flex;
  text-align: center;
  margin-top: 10%;
}
.chemists .tablet {
  width: 550px;
  height: 380px;
}
.chemists-descriptrion {
  padding: 5% 0;
}
.chemist__p {
  max-width: 45%;
  text-align: left;
  margin: 0 auto;
  padding: 2% 0;
  color: #7a7a7a;
  font-weight: 400;
}
.client-h6 {
  padding: 2% 0;
}
.last-name {
  margin-left: -10%;
}
.points {
  margin-left: -30%;
}
/* footer */

footer {
  background-color: #043caa;
  color: white;
}
.input__block {
  display: flex;
}
.footer__block {
  padding: 3% 8%;
}
footer div h2 {
  color: white;
}
footer div p {
  max-width: 60%;
  color: white;
  line-height: 25px;
}
.sign-txt h2 {
  font-size: 24px;
}
.footer-description {
  display: flex;
  margin-top: 10%;
}
.d-express {
  max-width: 30%;
}

.last__list ul li {
  line-height: 30px;
  color: white;
}
.last__list {
  display: flex;
  margin-left: 20%;
}

.last__ul {
  padding-left: 50%;
}
@media screen and (max-width: 1300px){
  .man_png{
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 1.9em;
    line-height: 100%;
  }
  .header__content {
    max-width: 70%;
    height: 60%;
  }
  .link__btn {
    width: 100px;
    height: 33px;
  }
}
@media screen and (max-width: 838px) {
  .buttonn {
    display: flex;
    flex-wrap: wrap;
  }
  header form {
    display: none;
  }
}
@media screen and (max-width: 510px) {
  h3 {
    font-size: 16px;
  }
}

