@import "./null.css";
ul li a {
  color: white;
}
h3 {
  color: white;
  font-size: 22px;
  font-weight: 700;
}
h1 {
  font-weight: bold;
  font-size: 48px;
  color: white;
  line-height: 65px;
}
header {
  background-image: url(../img/back.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
nav ul li {
  font-size: 16px;
}
.header__p {
  color: white;
}
nav {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 2.5% 6%;
}
nav ul {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.login__btn {
  width: 117px;
  height: 40px;
  background-color: #1bc768;
  border-radius: 20px;
  margin-top: -10px;
}
.header__content {
  padding: 2% 6%;
  max-width: 60%;
}
.header__p {
  padding: 5% 0;
}
.link__btn {
  color: white;
  width: 110px;
  height: 42px;
  background: none;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 17px;
}
.link__btn:hover {
  transition: 0.7s;
  color: black;
  background-color: white;
}

header form {
  padding-top: 6%;
  display: flex;
  margin-left: -2.7%;
}
form input {
  width: 280px;
  height: 50px;
}
header input {
  background-color: #dee9ff;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 114px;
  padding-left: 49px;
  color: #7a7a7a;
  width: 361px;
  font-size: 16px;
}

form img {
  transform: translate(40px, 3px);
  width: 17px;
  height: 17px;
  margin-top: 3%;
}
.inp-btn {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 16px;
  width: 110px;
  background-color: #1bc768;
}
.company {
  text-align: center;
  margin: 0 auto;
  max-width: 65%;
  margin-top: 3%;
}
h2 {
  color: #043caa;
  font-size: 28px;
  font-weight: bold;
  margin: 3% 0;
}
.company__logo {
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
}

/* main */
h5 {
  font-size: 24px;
  color: #043caa;
  font-weight: 800;
  max-width: 70%;
}
h4{
  font-size: 36px;
  color: #043caa;
  font-weight: bold;
}
main {
  max-width: 75%;
  margin: 8% auto;
}
.key_h4 {
  margin: 0 auto;
  text-align: center;
}
.card__place{
  margin-top: 5%;
}


.get-btn{
  background-color: none;
  border: 2px solid #1BC768;
  color: #1bc768;
}
/* card */
.first__card {
  display: flex;
  justify-content: space-around;
}

.card-description ul li {
  padding-top: 3%;
}


/* footer */
/*footer {
  background: #043caa;
  width: 100%;
  color: white;
}
.footerr {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}
.footer_h1 {
  padding-top: 60px;
}
.footer_2 {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.your_p {
  line-height: 20px;
  max-width: 200px;
}
.hh1 {
  color: white;
  font-size: 20px;
}
#hh1_p {
  max-width: 350px;
}
.input2 {
  margin-left: 600px;
  margin-top: -80px;
}
.your_name {
  color: white;
}
.header_button2 {
  outline: none;
  border: none;

  border-radius: 0px 50px 50px 0px;
  padding: 16px;
  background: #1bc768;
  width: 127px;
  color: white;
}
.ul_li {
  display: flex;
  margin-left: 400px;
  margin-top: -205px;
}
ul {
  list-style: none;
  padding: 50px;
}
li {
  margin-top: 13px;
}
.end_work {
  text-align: center;
  font-size: 7px;
  font-weight: 100;
  padding-bottom: 2px;
}
.li_1 {
  font-size: 19px;
}
li_2 {
  font-size: 17px;
}
h2 {
  font-family: aven;
}
.new_inp {
  display: flex;
} */
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 1.6em;
  }
  .header__content {
    max-width: 70%;
    height: 60%;
  }
  .link__btn {
    width: 100px;
    height: 33px;
  }
}
@media screen and (max-width: 838px) {
  .buttonn {
    display: flex;
    flex-wrap: wrap;
  }
  header form {
    display: none;
  }
}
