@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.header {
  background-image: url(./back.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 679px;
  width: 100%;
  margin: 0 auto;
}
.logo {
  color: white;
  font-weight: bold;
  font-size: 23px;
  padding-left: 60px;
}
nav {
  display: inline-block;
}
.header2 {
  display: flex;
  align-items: center;
  padding: 35px;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 30px;
}
nav a:hover {
  color: rgb(7, 252, 7);
  transition: 0.3s;
}
.nav {
  padding-left: 180px;
}
.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 38px;
  position: absolute;
  width: 60px;
  height: 30px;
  left: 1165px;
  top: 21px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  background: #1bc768;
  border-radius: 50px;
}
.link:hover {
  color: blue;
  transition: 0.3s;
}
.h1 {
  font-weight: 900;
  font-size: 27px;
  color: white;
  line-height: 80px;
  margin-left: 95px;
  margin-top: 60px;
}
.paragraf {
  color: white;
  font-size: 19px;
  line-height: 35px;
  margin-left: 95px;
  padding-top: -20px;
}
.buttonn {
  margin-left: 85px;
}
.butt {
  color: white;
  background: linear-gradient(
      96.22deg,
      #0a4cd100 -0.66%,
      rgba(4, 59, 170, 0) 44.05%,
      rgba(5, 83, 238, 0) 100%
    ),
    url(image.png);
  height: 45px;
  width: 107px;
  border-radius: 50px;
  border: none;
  margin: 10px;
  font-size: 18px;
  border: 1px solid white;
}
.butt:hover {
  background-color: white;
  color: blue;
  transition: 0.3s;
}
.input {
  margin-left: 95px;
  margin-top: 30px;
  width: 10px;
  height: 5px;
}
input {
  width: 330px;
  height: 45px;
  border-radius: 70px;
  border: none;
  color: #7a7a7a;
  padding-right: 80px;
  font-size: 14px;
}
