@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.header {
  background-image: url(./back.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 679px;
  width: 100%;
  margin: 0 auto;
}
.logo {
  color: white;
  font-weight: bold;
  font-size: 23px;
  padding-left: 60px;
}
nav {
  display: inline-block;
}
.header2 {
  display: flex;
  align-items: center;
  padding: 35px;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 30px;
}
.nav {
  padding-left: 180px;
}
.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 38px;
  position: absolute;
  width: 60px;
  height: 30px;
  left: 1165px;
  top: 21px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;

  background: #1bc768;
  border-radius: 50px;
}
